.py-4 {
    padding: 0 !important;
    height: 100%;
}

#app {
    height: 100%;
}

#example {
    height: 100%;
}

.body-wrap {
    height: 100%;
}

.body-wrap .row {
    height: 100%;
}

.navbar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#475462+0,1d2841+100 */
    background: #475462; /* Old browsers */
    background: -moz-linear-gradient(
        left,
        #475462 0%,
        #1d2841 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        left,
        #475462 0%,
        #1d2841 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to right,
        #475462 0%,
        #1d2841 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475462', endColorstr='#1d2841',GradientType=1 ); /* IE6-9 */
}

.navbar .navbar-brand  {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.user-container {
    background-color: #343f4a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



html, body{
    margin: 0;
    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

.user-container img {
    border-radius: 50%;
}

.user-container h2 {
    color: #fff;
    margin-top: 10px;
}

.body-wrap .sidebar {
    padding: 0;
    background-color: #232E44;
}

.body-wrap .view {
    padding: 0px 60px 60px 60px;
    background: #5c768c; /* Old browsers */
    background: -moz-linear-gradient(left,  #5c768c 0%, #24335b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #5c768c 0%,#24335b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #5c768c 0%,#24335b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c768c', endColorstr='#24335b',GradientType=1 ); /* IE6-9 */
}

.body-wrap .view .overview-container {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    padding: 0;
}

.body-wrap .view .overview-container h1 {
    font-weight: 600;
    font-size: 36px;
    margin: 0;
    color: #fff;
}

.body-wrap .view .overview-container p {
    margin: 0 5px 0 0;
    color: #fff;
}

.body-wrap .view .overview-container .module {
    background: rgba(0,0,0,0.42) url("/images/smiley.png") no-repeat scroll 0 0;
    color: #fff;
    width: 260px;
    margin-right: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.selectgraph-container .css-yk16xz-control {
    background: rgba(0,0,0,0.42) url("/images/smiley.png") no-repeat scroll 0 0;
    border-radius: 0;
}

.graph-container {
    margin-top: 15px;
    background: rgba(0,0,0,0.42) url("/images/smiley.png") no-repeat scroll 0 0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.graph-container p {
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.graph-container .recharts-tooltip-label {
    color: #000;
}

.button-container {
    height: 100%;
}

.all-wrapper {
    position: absolute;
    left: 60px;
}

.button-container .button { 
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: #495562;
    cursor: pointer;
    border-right: 5px solid #000;
}

#app {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.select-container {
    width: 300px;
}

.selectgraph-container {
    height: 75vh;
}